# Ignore Python virtual environments
venv*/
.venv*/
env*/
ENV*/
venv_spire/

# Ignore installed packages
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore logs and system files
*.log
.DS_Store

# Ignore VS Code settings (optional)
.vscode/

# Ignore personal notebooks or experiment logs (optional)
*.ipynb
runs/